
<!DOCTYPE html>

<html>
    <title>
        Quotes
    </title>

    <body>
        <h1>welcome to chicken nugget plant repair!</h1>
        <h2>this is the quotes</h2>

        <p>home </p> 
        <a href="/quotes">headquarters</a>
        <p>admin</p> 
    </body>
</html>
