<!DOCTYPE html>
<html>
    <head>
        <title>Single Quote</title>
    </head>
    <body>
        <h1>Quote <%= quote.id %></h1>
        <p>Customer: <%= quote.customer_id %></p>
        <p>Status: <%= quote.sanctioned %></p>
        <p>Created: <%= quote.time_created %></p>
    </body>
</html>